@import "../../node_modules/normalize.css";
@import "variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background-color: $black;
  color: $white;
}
