@import "../styles/variables";
@import "../styles/mixins";

.Wrapper {
  padding: $containerIdent;
  background-color: $gray1;
}

.Label {
  margin: 0;
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: lighter;
  text-transform: uppercase;

  @include textShadow();
}
