@import "../styles/variables";

.Wrapper {
  margin: 0 auto;
  max-width: 1340px;
  background-color: $gray1;
}

.Footer {
  padding: $containerIdent;
  background-color: $black;

  p {
    margin: 0.6rem 0;
    padding: 0;
    color: $gray2;
  }
}
