@import "../../../styles/variables";

.Wrapper {
  display: flex;
  justify-content: space-between;
  padding: $containerIdent;
  background-color: $black;
}

.Label {
  margin: 0;
  font-weight: lighter;
}

.Term {
  text-transform: uppercase;
}

.Total {

}

@media screen and (max-width: $desktopMedia) {
  .Total {
    display: none;
  }
}
