@import "../styles/variables";

.VideosList {
  display: flex;
  flex-wrap: wrap;
  margin: $containerIdent;
  overflow: hidden;
}

@media screen and (min-width: $desktopMedia) {
  .VideosList {
    position: relative;
  }
}
