@import "../../../styles/variables";

.Wrapper {
  margin: $baseIdent 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;

  &.Wrap {
    flex-wrap: wrap;
  }
}

.Label {
  margin-right: 0.5rem;
}

.Tag {
  display: flex;
  align-items: center;
  background-color: $gray2;
  border-radius: $baseBorderRadius;
  line-height: 1;
  white-space: pre;
  padding: 4px;
  margin: 4px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
