/**
 * Colors variables
 */
$white: white;
$black: black;
$gray1: #424245;
$gray2: #646464;
$gray3: #2C2C2F;

/*
 * Other variables
 */
$baseIdent: 6px;
$containerPadding: 0.6rem;
$baseBorderRadius: 4px;
